<app-header>
    <ng-container class="container">
        <mat-card class="box">
            <mat-card-title>
                PROJETOS DESENVOLVIDOS
            </mat-card-title>
            <mat-card-content class="conteudo-primario">
                <mat-card *ngFor="let projeto of projetoList">
                    <mat-card-header>
                        <img [src]="projeto.foto" width="250">
                        <section class="double-width">
                            <button class="btn" mat-raised-button
                                [routerLink]="['editprojeto', projeto.id]"><mat-icon>edit</mat-icon></button>
                            <button class="btn" mat-raised-button
                                (click)="deletar(projeto.id)"><mat-icon>delete</mat-icon></button>
                        </section>

                    </mat-card-header>
                    <mat-card-content class="conteudo-secundario">
                        <p><b>Nome do projeto:</b> {{projeto.nome}}</p>

                        <a class="btn" mat-raised-button [href]="projeto.site" target="_blank">VISUALIZAR</a>
                        <a class="btn btn-github" mat-raised-button [href]="projeto.repositorioGit"
                            target="_blank">GITHUB</a>


                    </mat-card-content>
                </mat-card>

            </mat-card-content>
            <mat-paginator #paginator [length]="projetoList.length" [pageSize]="5" [pageSizeOptions]="[5, 15, 30, 100]"
                showFirstLastButtons>
            </mat-paginator>
        </mat-card>


        <a mat-fab class="btn-new" class="btn-add">
            <i class="material-icons" routerLink="/projetos/novoprojeto">add</i>
        </a>
    </ng-container>
</app-header>