<app-header>
    <ng-container class="container">
        <mat-card class="box">
            <mat-card-title>
                PROJETOS DESENVOLVIDOS
            </mat-card-title>
            <mat-card-content class="conteudo-primario">
                <mat-card *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
                    <mat-card-header>
                        <img src="https://user-images.githubusercontent.com/31005408/178036109-e516ccab-fe6d-4099-8ff0-b9c2e07c5065.png"
                            width="250" alt="goodpay">
                    </mat-card-header>
                    <mat-card-content class="conteudo-secundario">
                            <p><b>Nome do projeto:</b> Good pay</p>
                            <button class="btn" mat-raised-button>VISUALIZAR</button>
                            <button class="btn btn-github" mat-raised-button>GITHUB</button>
        
                    </mat-card-content>
                </mat-card>

            </mat-card-content>
            <mat-paginator #paginator [length]="length" [pageSize]="9" [pageSizeOptions]="[9, 18, 30, 102]"
                showFirstLastButtons>
            </mat-paginator>
        </mat-card>

    </ng-container>
</app-header>