.box {
   width: 85%;
   text-align: center;
   box-shadow: none;
   background-color: rgb(247, 247, 247);
}


.conteudo-primario {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.conteudo-primario mat-card{
    padding: 10px 40px 10px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4px;

}

.conteudo-secundario p{
    margin-top: 8px;
    text-align: left;
    font-size: 18px;
}


.btn {

    color: white;
    background-color: var(--azulescuro);
    margin-left: 5px;
    display: inline-block;
  
}

.btn:hover{
    background-color: #883b8f;
    color: aliceblue;
}

.btn:active{
    transform: scale(0.9);
}

.double-width {
    width: 60%;
    display:  flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.btn-add {
    background-color: var(--azulescuro);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 50px;
    width: 50px;
    right: 35px;
    top: 80%;
    border-radius: 50%;
}

.btn-whatsapp{
    background-image: url("/assets/images/whatsapp.png");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 50px;
    width: 50px;
    right: 35px;
    top: 88%;
}