.box {
   width: 85%;
   text-align: center;
   box-shadow: none;
   background-color: rgb(247, 247, 247);
}


.conteudo-primario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.conteudo-primario mat-card{
    padding: 10px 40px 10px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4px;

}

.conteudo-secundario p{
    margin-top: 8px;
    text-align: left;
    font-size: 18px;
}


.btn {
    width: 55%;
    color: white;
    background-color: var(--azulescuro);
    margin-left: 5px;

  
}

.btn:hover{
    background-color: #883b8f;
    color: aliceblue;
}

.btn:active{
    transform: scale(0.9);
}

