<app-header>
    <ng-container class="container">
        <mat-card class="box">
            <mat-card-title>
                Editar o Projeto
            </mat-card-title>
            <mat-card-content>
                <form>
                <div class="container-form">
                    <section class="double-width">
                        <mat-form-field appearance="outline">
                            <mat-label>Nome do projeto</mat-label>
                            <input matInput type="text" name="nome" [(ngModel)]="projeto.nome" required>
                        </mat-form-field>
                      
                        <mat-form-field appearance="outline">
                            <mat-label>Link do site</mat-label>
                            <input matInput type="text" name="site" [(ngModel)]="projeto.site" required>
                        </mat-form-field>
    
                        <mat-form-field appearance="outline">
                            <mat-label>Link do repositório (github)</mat-label>
                            <input matInput type="text" name="repositorioGit" [(ngModel)]="projeto.repositorioGit" required>
                        </mat-form-field>
                        
                    </section>
                    <section class="double-width">
                        <fieldset class="img">
                            <legend>Selecione uma foto: *</legend>
                            <img src="{{ fotoUrl || img  }}" alt="capa" (click)="inputFile.click()">
                            <input class="btn-add-img" #inputFile type="file" (change)="addImg($event)" name="foto" [(ngModel)]="projeto.foto">
                            <figure><strong>Arquivo: </strong>{{inputFile.value}}...</figure>
                            <mat-progress-bar mode="indeterminate" *ngIf="isLoadUpload"></mat-progress-bar>
                        </fieldset>
                    </section>
                </div>
                    <button class="btn" mat-raised-button color="primary" (click)="editar()">EDITAR</button>
                </form>
            </mat-card-content>

        </mat-card>
    </ng-container>
</app-header>